
.MainLayout_header,
.MainLayout_footer {
  background-color: #006400;
  color: white;
}

.MainLayout_header {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.MainLayout_header_title {
  font-family: saxmonoregular;
  font-size: xx-large;
  margin: 5px;
}

.MainLayout_footer { /* FIXME since this is fixed it may overlap content */
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.MainLayout_footer .btn {
  background-color: #006400;
  border-color: #006400;
  color: white;
  font-size: x-large;
  -webkit-transition: background 5s;
  transition: backgroup 5s;
}

.MainLayout_footer .btn:hover {
  background-color: white;
  border-color: white;
  color: #006400;
  -webkit-transition: background 1s;
  transition: background 1s;
}

@media (max-width: 1100px) {
  .MainLayout_header_title {
    font-size: x-large;
  }
}

@media (max-width: 900px) {
  .MainLayout_header_title {
    font-size: large;
  }
}
