
.AuthBadge {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.AuthBadge_username {
  margin: 0 10px;
}

.AuthBadge_image {
  height: 40px;
  width: auto;
}

.AuthBadge a {
  color: white;
}
